<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Token Input</title>
</head>
<body>
    <h1>Enter Access Token</h1>

    <!-- Display flashed messages here -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert-container">
          {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="post" action="/">
        <input type="text" name="access_token" placeholder="Enter your access token" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>